{% extends 'testerbase.html' %}

{% block title %} {% endblock %}

{% block header %} {% endblock %}

{% block content %}
    {% include 'game_logic.html' %}

    <html lang="en">

    <body>
        
        <!-- Content for column 1 -->
        
          <div class="flex justify-between p-4">
              <div class="w-1/4 p-4 rounded-md">
                  <!-- Content for row 1 in column 1 -->

                  <!-- Scoreboard -->
                  <div class="p-4 rounded-md">
                      
                      <table class="w-full animate__animated animate__zoomInDown">
                          <thead>
                              <tr>
                                  <th>Player</th>
                                  <th>Passes</th>
                                  <th>Corrects</th>
                              </tr>
                          </thead>
                          <tbody id="scoreTableBody">
                              <!-- Player scores will be dynamically added here -->
                          </tbody>
                      </table>
                  </div>

                  <div class="mt-6">
                    <!-- Content for row 2 in column 1 -->
                      <div class="text-left mt-40">
                          <div id="currentPlayer" class="animate__animated animate__zoomInDown">Current Player: Your name will appear here when it is your turn</div>
                          <div id="nextPlayer" class="animate__animated animate__zoomInDown">Next Player: Your name will appear here when it is your turn next</div>
                          <div id="gameStatusMessage"> </div>
                          <div id="countdownTimer"> </div>
                          <p id="modalMessage"> </p>
                          <div id="timeLimitElement" style="display: none;">  </div>
                      </div>
                  </div>
              </div>
                  
              <!-- Column 2 --> 
              <div class="w-1/2 p-4 rounded-md flex flex-col items-center">
                  <div class="mt-6">
                      <!-- Content for row 1 in column 2 -->
                      <div class=" flex flex-col items-center">
                      <button id="startGameButton" class="bg-green-500 text-black px-4 py-2 rounded mt-5 animate__animated animate__zoomInDown">Ready to start?</button> 
                      <button id="nextTurnButton" class="bg-green-500 text-black px-4 py-2 rounded mt-5 animate__animated animate__zoomInDown">Next player ready?</button>
                      <div id="currentCategoryDisplay" class="px-4 py-2 rounded mt-10"> </div>
                  </div>
                </div>

                  <!-- Row 2 in column 2 -->
                  <div class="">
                      <div class="mt-30 flex items-center justify-center h-40 text-lg">
                          <div id="cardContainer"> </div>
                      </div>
                  </div>
  
                  <!-- Row 3 in column 2 -->
                  <div class="mt-20">
                      <button id="generateCardButton" class="bg-blue-500 text-black px-4 py-2 rounded mr-auto">Add a Score</button>
                      <button id="nextCardButton" class="bg-blue-500 text-black px-4 py-2 rounded ml-auto">Pass a Card</button>
                      <div id="winnerMessage"> </div>
                  </div>
              </div>

              <div class="w-1/4 p-4 rounded-md">
                  <!-- Content for column 3 -->
                  <button id="revealWinnersButton" class="bg-green-500 text-black px-4 py-2 rounded">Reveal Winners</button>

                  <div class="mt-0">
                      <!-- Content for row 1 in column 3 -->
                      <div class="text-center">

                          <!-- Game settings display -->
                          <div class="p-4 rounded-md animate__animated animate__zoomInDown">
                              
                              <div>
                                  <button id="settingsButton" class="bg-blue-500 text-black px-4 py-2 rounded">Show Settings</button>
                                  <div id="settingsContent" style="display: none;">
                                      <p>Number of Teams: <span id="num-teams">{{ game_settings.num_teams }}</span></p>
                                      <p>Game Mode: <span id="game-mode">{{ game_settings.game_mode}}</span></p>
                                      <p>Number of Rounds:
                                          <span id="round-limit">
                                              {% if game_settings.game_mode == 'Full' %}
                                                  5
                                              {% else %}
                                                  {{ game_settings.num_rounds }}
                                              {% endif %}
                                          </span>
                                      </p>
                                      <p>Time Limit: <span id="time-limit">{{ game_settings.time_limit }}</span> Seconds</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </body>
    </html>







        <script>
            // Instantiate the Game, CardManager, and Scorer classes
            const game = new Game();
            const cardManager = new CardManager('cardContainer'); // Replace 'cardContainer' with the actual ID of your card container
            const scorer = new Scorer(game, cardManager, "nextCardButton", "generateCardButton", game.currentPlayer);
            const revealWinnersButton = document.getElementById("revealWinnersButton");

            if (revealWinnersButton) {
                revealWinnersButton.style.display = "none";
            }

            // Define startTurnSession and endTurnSession functions
            function startTurnSession() {
                scorer.startTurnSession();
            }

            function endTurnSession() {
                scorer.endTurnSession();
            }

            const timer = new Timer(5, 'countdownTimer', 'timeLimitElement', startTurnSession, endTurnSession);

            document.getElementById('startGameButton').addEventListener('click', () => {
                startASession();
                console.log("Start game button pressed");
            });

            if (revealWinnersButton) {
                revealWinnersButton.addEventListener("click", () => {
                    // Call a method to handle revealing winners
                    scorer.determineWinners(game);
                });
            }

            function startASession() {
                document.getElementById('startGameButton').style.display = 'none';
                game.startGameSession();
                game.startFirstPlayerTurn();
                cardManager.generateRandomCard();
                console.log("First Player Turn Started");
                timer.start();
                console.log("Warning Timer Started. Beginning 5 second countdown");
                startTurnSession();
            }

            document.getElementById('nextTurnButton').addEventListener('click', () => {
                turnLogic();
                console.log("Next turn button pressed");
            });

            function turnLogic() {
                document.getElementById('startGameButton').style.display = 'none';
                game.startNextTurn();
                console.log("Next player turn Started");
                timer.start();
                console.log("Warning Timer Started. Beginning 5 second countdown");
            }

            // Toggle display of settings content
            const settingsButton = document.getElementById('settingsButton');
            const settingsContent = document.getElementById('settingsContent');

            if (settingsButton && settingsContent) {
                settingsButton.addEventListener('click', () => {
                    settingsContent.style.display = (settingsContent.style.display === 'none') ? 'block' : 'none';
                });
            }
        </script>
    </body>
    </html>
{% endblock %}
