{% extends 'index.html' %}

{% block header %}

{% endblock %}

{% block content %}


<!-- Game Concept -->
<section class="">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-primary-col sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary-col dark:text-white">How a Game Works:</h2>
          <p class="mb-4">The game of Say More relies upon your expertise as a communicator - explain the concept without using the name of the concept. <br><br>
            While the premise is simple, the tasks can be deceptively challenging, as your ability to explain the content depends on both your knowledge of the content and your verbal articulation. <br><br> You might know what is being referenced, but can you explain it to someone else?</p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
          <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
      </div>
  </div>
</section>


<section class="">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
    <div class="font-light text-primary-col sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary-col dark:text-white"> Basic Rules </h2>
        <ol type="1" class="mb-4">
            <li> When you have entered the name of each player and allocated teams, a current player and the next player frame will be displayed on the screen.</li><br>
            <li> The current category will be displayed below the start game button. </li><br>
            <li> The current player should not be able to see the screen. When you are ready, press the button to start the game. </li><br>
            <li> The categories and concepts will appear in a list format. The categories will be in the same order each time you add a score or pass. Each time you use one of the score buttons, the category content will change. </li><br>
            <li> To add a score for the current player, their teammate must explain the concept. If the current player can name the concept on the screen, the teammate can add a score. </li><br>
            <li> If the current player cannot guess the concept, they can choose to pass by saying 'Pass'. The current player should be the one to decide whether they will pass or not. The teamate can then click the pass button and a new categories will be generated. </li><br>
            <li> The time limit will be displayed under the names of the current and next player. When the current player's turn is over, the next team should get into position. </li><br>
            <li> The winner is determined based on the team with the most correct score and the least passes. </li><br>
        </ol>
    </div>
    
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
          
          
      </div>
  </div>
</section>

<section class="">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-primary-col sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary-col dark:text-white"> How does it help you?</h2>
            <ul class="mb-4"> Teachers and Caregivers
                <li>
                   Straightforward and consise revision practises that can become part of a routine.
                </li><br>
                <li>
                    Boost attainment by pre-teaching content or reviewing content that was tricky.
                </li><br>
                <li>
                    Zero-time planning. Finished their homework early - Say More. Need an extension task - Say More. A way to reward positive classroom behaviours - Say More.
                </li><br>
            </ul>

            <ul class="mb-4"> Students
                <li>
                    When you regularly review information, you are more likely to retain that information. There's a reason you can remember the lyrics to your favourite song, but you struggle to recall Scrooge's opinions about poverty.
                </li><br>
                <li>
                    If you struggle to plan and carry out your own revision activities, Say More has been created for you. Spend less time making spreadsheets and timetables that you find difficult to carry out - find a spare 15 minutes and play.
                </li><br>
                <li>
                    Someone who doesn't care for beautifully presented flashcards and ornately constructed revision maps? Do you have beautifully presented flashcards and ornately constructed revisions maps, but you are tired of carrying them around and never using them? Save your time and energy - bookmark this link instead.
                </li><br>
            </ul>
            
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://www.growthengineering.co.uk/wp-content/uploads/2020/11/10-Learning-model-blog-Illustrations_Forgetting-Curve-a_navy_Forgetting-Curve-a.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://simonbaddeley64.files.wordpress.com/2021/06/ebbinghaus-forgetting-curve.jpg" alt="office content 2">
        </div>
    </div>
  </section>




{% endblock %}
