  <!-- Display player names and teams-->

  <div class="container mx-auto">
    <div class="grid grid-cols-4 gap-4">
        <!-- Leftmost column -->
        <div class="col-span-1">
            <div class="mt-8">
                
                <div id="teamsAndPlayersContainer" class="align-text-top">
                    {% for team_num, players in team_data.items() %}
                        <p class="mt-4">Team {{ team_num }} :</p>
                        <ul class="list-disc pl-8">
                            {% for player in players %}
                                <li class="mb-2">
                                    <span class="text-sm leading-5">{{ player }}</span>
                                    <form onsubmit="deletePlayer('{{ team_num }}', '{{ player }}'); return false;" class="inline-block">
                                        <button type="submit" class="ml-2 px-2 py-1 text-sm font-medium text-white bg-red-500 rounded-md hover:bg-red-600 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 focus:ring-opacity-50">Remove</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>